
html{
	width: 100%;
}

body {
	width: 100%;
	height: 100%;
	margin : 0;
	display : flex;
	flex-direction: column;
	flex-wrap : wrap;
	align-items : center;
	justify-content: center;
}

video {
	display : flex;
	z-index : 2;
	position : absolute;
	align-self : flex-end;
	opacity : 0;
	margin-left: 4.5%;
	margin-top:4.5%;
}

.camModeMouse{
	width:0%;
	height:0%;
	position: absolute;
	display: flex;
}

.camModeWebcam{
	width : 3%;
	height: 2em;
	position: absolute;
	z-index: 5;
	background-color: white;
	margin-left: 11.2%;
	margin-top: -24.3%;
	background-size: 40% 15px;
	background-repeat: no-repeat;
  	background-position: center; 
  	display: none;
}

canvas {
	display :flex ;
	z-index : 0;
	position: relative;
	width : 95%;
}

#video {
	width : 90%;
	height: auto;
}

#menu{
	display : flex;
	flex-direction : column;
	flex-wrap : wrap;
	width: 10%;
	z-index : 2;
	align-items : center;
	position : absolute;
}

#panelMenu{
	width : 15%;
	height: 500px;
	background-color: #2e2e2e;
	z-index: 4;
	position: absolute;
	margin-bottom: 0px;
	margin-top: -25%;
	padding-top: 0px;
	align-items : center;
	flex-wrap : wrap;
	border-radius: 1%;
	display: none;
}

#nameMusic{
	display : flex;
	width: 100%;
	margin-top: 28%;
	z-index: 4;
	position: absolute;
	height: 40px;
	align-items: center;
  	justify-content: center;
}

#displayNameMusic{
	display : flex;
	font-size: 1.5em;
	color : black;
	text-align: center;
	font-family: 'Roboto Mono', monospace;
}


#hCam{
	background-size: 40% 15px;
	background-repeat: no-repeat;
	background-position: center; 
}

#less{
	margin-top: 106%;
	display : flex;
}
#more{
 	margin-top: 115%;
 	display : flex;
}

#less, #more{
	height: 5%;
	position: absolute;
	display: flex;
	justify-content: center;
	text-align: center;
	color : white;
	z-index : 5;
	font-family: 'Roboto Mono', monospace;
	border-radius: 2%;
	width : 15%;
}


#keyNbParticles{
	margin-top: 113%;
}


#instructions, #screenshot, .indicationKeyBoard{
	height: 10%;
	position: absolute;
	display: flex;
	justify-content: center;
	color : white;
	z-index : 5;
	font-family: 'Roboto Mono', monospace;
	border-radius: 2%;
}

.otherMode {
	background-color: #404040;
}

.instructionsModeWebcam{
	width : 85%;
}

.instructionsModeMouse{
	width : 15%;
}

.indicationKeyBoard{
	margin-left: 40%;
}

#mouseMode, #webcamMode{
	width : 42.5%;
	border-radius:2%;
	z-index: 5;
	font-family: 'Roboto Mono', monospace;
	height:10%;
	position:absolute;
	display: flex;
	justify-content: center;
	color: white;
}

#instructions, #screenshot, #webcamMode, #more, #less{
	margin-left: 7.5%;
	background-color: #404040;
}

#mouseMode{
	margin-left: 50.5%;

}

#instructions{
	margin-top: 130%;
}

#instruction.p{
	border-left-width: 20%;
	text-align : center;
	position : relative;
	display : flex;
}

#instructions:hover, #screenshot:hover, .otherMode:hover{
	background-color: #20F9DC;
}

#screenshot, #screenS {
	margin-top: 155%;
}

#instruc{
	margin-top: 135%;
}

#screenS{
		margin-top: 160%;
}

#mouseMode, #webcamMode{
	margin-top: 179%;
}

#nbPnts {
	width : 70%;
	z-index : 4;
	position : absolute;
	display: none;
	flex-direction : row;
	flex-wrap : wrap;
	margin-left: 7.5%;
	margin-top : 105%;
}


#nbPnts:hover{
	background-color: white;
}

#DetailCircleRange, #imgCircles{
	margin-left: 0%;
	position : absolute;

}

#DetailCircleRange {
	width: 100%;
	margin-top:7%;
	margin-left: 24%;
}

#imgCircles{
	width : 18%;
}

#displayedVolume{
	width:10%;
	height: 40px;
	font-size: 2em;
	color:white;
	position:absolute;
	z-index: 4;
	margin-top: 19%;
	margin-left: 88%;
}

#StopIMG, #loading{
	display: none;
	width : 7%;
	position : absolute;
	z-index: 4;
	margin-left: 48%;
}

#StopIMG{
	animation: opacity 5.5s infinite linear;
}

@keyframes opacity {
	from {
		opacity: 30%;
	}
	50%{
		opacity : 100%;

	}
	to {
		opacity : 30% ;
	}
}

#loading{
	animation: rotation 1.2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



#infoTrack{
	color: red;
	width: 8%;
	height : 1em;
	z-index : 4;
	margin-top: 6%;
	margin-left:3%;
	position : absolute;
	display : none;
}

#manageSound{
	height : 2em;
	position: absolute;
	background-color: black;
	background-image : url('img/playBlanc.png');
	z-index: 3;
	margin-left: 34.5%;
	margin-top: 77.5%;
	position-bottom: 0%;
	background-size: 25% 15px;
	background-repeat: no-repeat;
  	background-position: center; 
  	display: none;
}

#previousSound{
	height : 2em;
	position: absolute;
	background-color: black;
	background-image : url("lastBlanch.png");
	z-index: 3;
	margin-left: 4.5%;
	margin-top: 77.5%;
	position-bottom: 0%;
	background-size: 25% 15px;
	background-repeat: no-repeat;
  	background-position: center; 
  	display: none;
}

#nextSound{
	height : 2em;
	position: absolute;
	background-color: black;
	background-image : url('nextBlanc.png');
	z-index: 3;
	margin-left: 64.5%;
	margin-top: 77.5%;
	position-bottom: 0%;
	background-size: 25% 15px;
	background-repeat: no-repeat;
  	background-position: center;
  	display: none;
}

.manageFromKeyboard{
	width : 0%;
}

.manageFromMouse {
	width : 30%;
}

#nextSound:hover, #previousSound:hover, #manageSound:hover, #hideCam:hover, #mouseMode:hover, #webcamMode:hover {
	background-color:#20F9DC;
}

p{
	color: white;
}

#button1, #button2{
	background-color: black;
	display : flex;

}

#button2{
	margin-left: 20%;
}

#button2:hover{
	width: 120%;
}

option {
    background-color: black !important;
    color : white;
}

#nuageDePoints{	
	background-color: black;
	position : absolute;
	width: 100%;
}


.range_css{
-webkit-appearance:none;
width:300px;
height:0.1rem;
background: white;
opacity : 0 7;
cursor:ew-resize;
border-radius:1.5rem}

/*****ie*****/
.range_css::-ms-track {
height:1rem;
border-radius:1.5rem;
background:transparent;
border-color:transparent;
color:transparent;/*enleve les traits*/}

.range_css::-ms-fill-lower {
height:1rem;
background: white;
opacity : 0 7;
border:0 solid transparent;
border-radius:1.5rem}

.range_css::-ms-fill-upper {
background: white;
opacity : 0 7;
border:0 solid transparent;
border-radius:1.5rem}

.range_css::-ms-thumb {
border:1px solid #ddd;
width:.8rem;
background:white;
height:1rem;
border-radius:50%;
box-shadow:0 0 .125rem #aaa}

.range_css:focus::-ms-fill-lower,
.range_css:focus::-ms-fill-upper {

background:linear-gradient(to bottom,#26a65b 10%,#36e27d)
}

.range_css::-ms-tooltip{display:none}

/*****firefox*****/
.range_css::-moz-range-thumb{
border:1px solid #ddd;
width:1rem;
height:1rem;
border-radius:50%;
box-shadow:0 0 .125rem #aaa}

.range_css::-moz-range-track{
border:3px solid transparent;
height:1rem;
border-radius:1.5rem;
background:none}

/*****Chrome,Opera*****/
.range_css::-webkit-slider-thumb{
-webkit-appearance:none;  
border:1px solid #ddd;
width:1rem;
height:1rem;
border-radius:50%;
background:white;
box-shadow:0 0 .125rem #aaa}


/******************** PANEL INSTRUCTIONS ********************/

#panelInstructions{
	width: 50%;
	height :50%;
	display: none;
	z-index: 6;
	background-color: #404040;
	border-radius: 3em;
	position: absolute;
}

#mouse{
	width: 27%;
}

#hand{
	width: 27%;
}

#rangeCircle{
	width: 27%;
}

#text{
	width: 100%;
	height: auto;
	display: flex;
	position: absolute;
	font-family: 'Roboto Mono', monospace;
	text-align :justify;
	justify-content:space-around;
	flex-direction: row;
}


#text img{
	width:15%;
	margin-top: 40%;
	margin-left: 45%;
	animation : translation 1.2s infinite linear;
}

#close{
	width: 15%;
	height: 8%;
	display: flex;
	position: absolute;
	margin-left: 44%;
	margin-top: 45%;
	color: white;
	border-radius: 0.5em;
	font-family: 'Roboto Mono', monospace;
}

#close p{
	margin : auto;
}

#close:hover{
	background-color: #20F9DC;
	border : 0em;
}

@keyframes translation {
  from {
    transform: translate(0,0);
  }
  50% {
  	transform: translate(0,0.2em);
  }
  to {
    transform: translate(0,0);
  }
}
