
html{
	width: 100%;
}

body {
	width: 100%;
	height: 100%;
	margin : 0;
	display : flex;
	flex-direction: column;
	flex-wrap : wrap;
	align-items : center;
	justify-content: center;
}

video {
	opacity : 0;
}

.camModeMouse{
	width:0%;
	height:0%;
	position: absolute;
	display: flex;
}

.camModeWebcam{
	width : 3%;
	height: 2em;
	position: absolute;
	z-index: 5;
	background-color: white;
	margin-left: 11.2%;
	margin-top: -24.3%;
	background-size: 40% 15px;
	background-repeat: no-repeat;
  	background-position: center; 
  	display: none;
}

canvas {
	display :flex ;
	z-index : 0;
	position: relative;
	width : 95%;
}

#video {
	width : 100%;
	height: auto;
}

#menu{
	top: 50%;
	left: 50%;
	transform: 	translate3d(-50%, -50%, 0);
	position : fixed;
	z-index: 2;
}

#panelMenu{
	width : 15%;
	background-color: #2e2e2e;
	z-index: 4;
	position: fixed;
	top:0px;
	left:0px;
	padding:15px 20px;
	align-items : center;
	flex-wrap : wrap;
	border-radius: 1%;
	display: none;
	color : white;
	font-family: 'Roboto Mono', monospace;
}

#nameMusic{
	display : flex;
	width: 100%;
	margin-top: 27%;
	z-index: 4;
	position: absolute;
	height: 40px;
	align-items: center;
  	justify-content: center;
}

#displayNameMusic{
	display : flex;
	font-size: 1.5em;
	color : black;
	text-align: center;
	font-family: 'Roboto Mono', monospace;
}

#rotLeft, #rotRight, #rotTop, #rotLow{
	background-color: black;
	text-align: center;
	padding: 8px;
}

#rot{
	display:grid;
	margin-top: 10px;
	grid-template-columns: repeat(4, 1fr);
}

#rot img{
	max-height: 20px;
	max-width: 20px;

}

#rotLeft:hover, #rotRight:hover, #rotTop:hover, #rotLow:hover{
	background-color: #20F9DC;
}

#hCam{
	background-size: 40% 15px;
	background-repeat: no-repeat;
	background-position: center; 
}

#hideCam{
	position:absolute;
	top:0px;
	right:0px;
}

.indicationKeyBoard{
	display : grid;
	grid-template-columns: 10% 80%;
	grid-gap: 10px;
}

.otherMode {
	background-color: #404040;
}

.instructionsModeWebcam{
	width : 85%;
}

.instructionsModeMouse{
	width : 15%;
}

#mouseMode, #webcamMode{
	width : 42.5%;
	border-radius:2%;
	z-index: 5;
	font-family: 'Roboto Mono', monospace;
	height:10%;
	position:absolute;
	display: flex;
	justify-content: center;
	color: white;
}

#mode{
	display:grid;
	grid-template-columns: 50% 50%;
	text-align: center;
}
#mode a div{
	border-radius: 0.2em;
}

#mode div{
	border: 0.1em solid #404040;
}


#instructions, #screenshot, #webcamMode, #more, #less, #nextM, #previousM, #playPause, #top, #right, #left, #low{
	background-color: #404040;
}

#mouseMode{
	margin-left: 50.5%;

}

#instruction.p{
	border-left-width: 20%;
	text-align : center;
	position : relative;
	display : flex;
}

.otherMode:hover{
	background-color: #20F9DC;
}

#webcamMode.otherMode:hover{
	background-color: #20F9DC;
}

#screenshot:hover, #instructions:hover{
	background-color: #20F9DC;
}


#instruc{
	margin-top: 135%;
}

#screenS{
		margin-top: 160%;
}

#mouseMode, #webcamMode{
	margin-top: 179%;
}

#nbPnts {
	display:grid;
	grid-template-columns: 20% 80%;
	grid-gap:10px;
	width : 100%;
	display: none;
	align-items: center;
	margin-top: 5%;
}

.buttonModeWebcam{
	text-align: center;
	padding:2px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 0.2em;
}

#nbPnts:hover{
	background-color: white;
}

#imgCircles{
	height:30px;
}

#displayedVolume{
	width:10%;
	height: 40px;
	font-size: 2em;
	color:white;
	position:absolute;
	z-index: 4;
	margin-top: 19%;
	margin-left: 88%;
}

#StopIMG{
	display: none;
	position : absolute;
	z-index: 4;
	margin: auto;
}

#StopIMG img{
	justify-content : center;
	align-items : center;
	width: 30px;
}

#StopIMG{
	animation: opacity 5.5s infinite linear;
}

@keyframes opacity {
	from {
		opacity: 30%;
	}
	50%{
		opacity : 100%;

	}
	to {
		opacity : 30% ;
	}
}

#loading{
	animation: rotation 1.2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



#infoTrack{
	color: red;
	display : none;
	position:absolute;
	left:50%;
	top:25%;
	transform : translate3d(-50%,-50%,0);
}

#playerSound{
	display:grid;
	grid-template-columns: repeat(3, 1fr);
	background-color: black;
}

#manageSound{
	background-image : url('img/playBlanc.png');
	background-repeat: no-repeat;
  	background-position: center;
  	background-size: 20%;
  	display: none;
  	height: 33px;
}

#rotationObj{

}

#previousSound{
	background-image : url("lastBlanch.png");
	background-repeat: no-repeat;
  	background-position: center;
  	background-size: 20%;
  	display: none;
  	height: 33px;
}

#nextSound{
	background-image : url('nextBlanc.png');
	background-repeat: no-repeat;
  	background-position: center;
  	background-size: 20%;
  	display: none;
  	height: 33px;
}

.manageFromKeyboard{
	width : 0%;
}

.manageFromMouse {
	width : 30%;
}

#nextSound:hover, #previousSound:hover, #manageSound:hover, #hideCam:hover, #mouseMode:hover, #webcamMode:hover {
	background-color:#20F9DC;
}

p{
	color: white;
}

#button1, #button2{
	background-color: black;
}

#button2{
	bottom: -120px;
	position: absolute;
	text-align: center;
	transition: all ease .2s;
	cursor: pointer;
	left:50%;
	transform: translate3d(-50%,0,0) scale(1);
}
#button2:hover {
	transform: translate3d(-50%,0,0) scale(1.5);
}

option {
    background-color: black !important;
    color : white;
}

#nuageDePoints{	
	background-color: black;
	position : absolute;
	width: 100%;
	height: auto;
}


.range_css{
-webkit-appearance:none;
width:300px;
height:0.1rem;
background: white;
opacity : 0 7;
cursor:ew-resize;
border-radius:1.5rem}

/*****ie*****/
.range_css::-ms-track {
height:1rem;
border-radius:1.5rem;
background:transparent;
border-color:transparent;
color:transparent;/*enleve les traits*/}

.range_css::-ms-fill-lower {
height:1rem;
background: white;
opacity : 0 7;
border:0 solid transparent;
border-radius:1.5rem}

.range_css::-ms-fill-upper {
background: white;
opacity : 0 7;
border:0 solid transparent;
border-radius:1.5rem}

.range_css::-ms-thumb {
border:1px solid #ddd;
width:.8rem;
background:white;
height:1rem;
border-radius:50%;
box-shadow:0 0 .125rem #aaa}

.range_css:focus::-ms-fill-lower,
.range_css:focus::-ms-fill-upper {

background:linear-gradient(to bottom,#26a65b 10%,#36e27d)
}

.range_css::-ms-tooltip{display:none}

/*****firefox*****/
.range_css::-moz-range-thumb{
border:1px solid #ddd;
width:1rem;
height:1rem;
border-radius:50%;
box-shadow:0 0 .125rem #aaa}

.range_css::-moz-range-track{
border:3px solid transparent;
height:1rem;
border-radius:1.5rem;
background:none}

/*****Chrome,Opera*****/
.range_css::-webkit-slider-thumb{
-webkit-appearance:none;  
border:1px solid #ddd;
width:1rem;
height:1rem;
border-radius:50%;
background:white;
box-shadow:0 0 .125rem #aaa}


/******************** PANEL INSTRUCTIONS ********************/

#panelInstructions{
	width: 50%;
	height :55%;
	display: none;
	z-index: 6;
	background-color: #404040;
	border-radius: 1.5em;
	position: absolute;
}

#mouse{
	width: 27%;
}

#hand{
	width: 27%;
}

#rangeCircle{
	width: 27%;
}

#text{
	width: 100%;
	height: auto;
	display: flex;
	position: absolute;
	font-family: 'Roboto Mono', monospace;

	justify-content:space-around;
	flex-direction: row;
}


#text img{
	width:15%;
	margin-top: 40%;
	margin-left: 45%;
	animation : translation 1.2s infinite linear;
}

#close{
	width: 15%;
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translate3d(-50%,0,0);
}

#close p{
	margin : auto;
}

#close:hover{
	background-color: #20F9DC;
	border : 0em;
}

@keyframes translation {
  from {
    transform: translate(0,0);
  }
  50% {
  	transform: translate(0,0.2em);
  }
  to {
    transform: translate(0,0);
  }
}
