<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>

	<div id="app">
		<div id="capture" v-bind::style="{backgroundColor:color}" class="w-1/2 bg-red rounded text-center py-8 text-black">
	    	<h4> {{ message }} </h4>

	    	<input type="text" v-model="message">
	    	<input type="color" v-model="color">
	    	<button class="bg-black px-4 py-2 text-white rounded-full" @click="saveCanvas()">
	    		Save Canvas
	    	</button>
	    </div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="html2canvas.min.js"type="text/javascript"></script>
	<script>
		var app = new Vue({
  			el: '#app',
			data: {
    			message: 'Hello Vue!',
    			color: '#ccc'
  			},
		methods: {
			saveCanvas(){
				html2canvas(document.querySelector("#capture")).then(canvas => {
		    		//document.body.appendChild(canvas)
		    		var image = canvas.toDataURL("image/png").replace("image/png", "image/octet-stream");
		    		console.log(image);
		    		window.location.href=image;
				});
			}
		}
	})



	</script>

</body>
</html>
